<div style="margin-top: 10px" class="container">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Add New Contact</h4>

      <form class="ng-untouched ng-pristine ng-valid">
        <div style="margin-bottom: 10px" class="form-group row">
          <label for="firstName" class="col-sm-2 col-form-label"
            >First Name</label
          >
          <div class="col-sm-10">
            <input type="text" id="firstName" class="form-control" #newFN />
          </div>
        </div>
        <div style="margin-bottom: 10px" class="form-group row">
          <label for="lastName" class="col-sm-2 col-form-label"
            >Last Name</label
          >
          <div class="col-sm-10">
            <input type="text" id="lastName" class="form-control" #newLN />
          </div>
        </div>
        <div style="margin-bottom: 10px" class="form-group row">
          <label for="phoneNumber" class="col-sm-2 col-form-label"
            >Phone Number</label
          >
          <div class="col-sm-10">
            <input type="text" id="phoneNumber" class="form-control" #newPN />
          </div>
        </div>
      </form>

      <div>
        <button
          style="margin-right: 10px"
          class="btn btn-success"
          (click)="
            addCompService.updateContact(
              newFN.value,
              newLN.value,
              newPN.value
            )
          "
          routerLink=""
        >
          Add Contact
        </button>
        <button class="btn btn-danger" routerLink="">Cancel</button>
      </div>
    </div>
  </div>
</div>
